certifi==2022.5.18.1
charset-normalizer==2.0.12
click @ file:///opt/concourse/worker/volumes/live/17ca243b-fc66-462b-4bc1-f11ad524e336/volume/click_1646056621177/work
filelock==3.7.0
Flask @ file:///opt/conda/conda-bld/flask_1648041541647/work
huggingface-hub==0.7.0
idna==3.3
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///opt/conda/conda-bld/jinja2_1647436528585/work
MarkupSafe @ file:///opt/concourse/worker/volumes/live/1bcf0940-5bf8-4171-61e3-2133f5885e8b/volume/markupsafe_1621528148241/work
numpy==1.22.4
packaging==21.3
pyparsing==3.0.9
PyYAML==6.0
regex==2022.4.24
requests==2.27.1
tokenizers==0.12.1
torch==1.11.0
tqdm==4.64.0
transformers==4.19.2
typing_extensions==4.2.0
urllib3==1.26.9
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
